<form class="{{cssClass}} flexcol don-item-sheet" autocomplete="off" style="color: #ffffff !important;">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-details flexcol">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nombre de la Especialización" style="color: #ffffff !important; background-color: #1c2029 !important;"/></h1>
    </div>
  </header>

  <div class="sheet-body flexcol">
    <div class="form-group flexrow">
      <label style="color: #ffffff !important;">{{localize "DON.AttributePair"}}</label>
      <select name="system.attributePair" style="color: #ffffff !important; background-color: #1c2029 !important;">
        <option value="identify_obscure" {{#if (eq system.attributePair "identify_obscure")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.IdentifyObscure"}}</option>
        <option value="persuade_dissuade" {{#if (eq system.attributePair "persuade_dissuade")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.PersuadeDissuade"}}</option>
        <option value="pursue_escape" {{#if (eq system.attributePair "pursue_escape")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.PursueEscape"}}</option>
        <option value="assault_protect" {{#if (eq system.attributePair "assault_protect")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.AssaultProtect"}}</option>
      </select>
    </div>

    <div class="form-group flexrow">
      <label style="color: #ffffff !important;">{{localize "DON.ReductionMode"}}</label>
      <select name="system.reductionMode" style="color: #ffffff !important; background-color: #1c2029 !important;">
        <option value="both" {{#if (eq system.reductionMode "both")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.ReductionBoth"}}</option>
        <option value="attrA" {{#if (eq system.reductionMode "attrA")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.ReductionAttrA"}}</option>
        <option value="attrB" {{#if (eq system.reductionMode "attrB")}}selected{{/if}} style="color: #ffffff !important; background-color: #1c2029 !important;">{{localize "DON.ReductionAttrB"}}</option>
      </select>
    </div>

    <div class="form-group flexrow info-box" style="color: #d97706 !important;">
      <i class="fas fa-info-circle"></i>
      <span style="color: #d97706 !important;">{{localize "DON.SpecialisationBonusCalc"}}</span>
    </div>

    <div class="form-group flexcol">
      <label style="color: #ffffff !important;">{{localize "DON.Description"}}</label>
      <div class="editor-container">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>
  </div>
</form>
